@{
    ViewBag.Title = "AuditPozitionCheck";
}

<br />
<br />

<div class="list-group" style="margin-top:25px;">

    <a href="PozitionAuditPage" class="list-group-item">
        @ViewBag.Sku&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@ViewBag.SkuType
        <span class="badge bg-primary rounded-pill" style="background-color:cornflowerblue;">@ViewBag.SkuPiece</span>
    </a><br />
    <a href="AuditIndex"><input type="submit" value="İptal" class="btn btn-primary" id="btnSubmit" /></a>

</div>